{% extends "base.html" %}
{% set active_page = "about" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block body %}
<div id="explore">
    <div class="row">
      <div class="span8" style="width:80%; text-align:center; margin-left:100px;">
        <h1 class="lead">
          Place Pulse quantitatively measures urban perception by crowdsourcing visual surveys to users around the globe.
        </h1>
      </div>

      <div class="span6 project">

        <iframe width="440" height="280" src="http://www.youtube.com/embed/QtVz0_fA5qE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="span6">
        <p></br>Place Pulse aims to quantitatively extract inherently subjective user opinions and use them to recognize which areas of a city are perceived as wealthy, modern, safe, lively, active, unique, central, adaptable or family friendly. </br></br>With enough user participation, Place Pulse can identify which neighborhoods in Bangkok are perceived better than neighborhoods in New York City or to examine how the distribution of a certain perception in Mexico City compares with that same perception in Tokyo. </br></br>For curious researchers, the Place Pulse dataset can even be used to study the association between urban perception and other datasets, such as violent crime, creativity or economic growth.</p>

      </div>
    </div>
  </div>



  <div class="hero-unit">
    <div class="ac">
      <h1>Current Team</h1><br />
      <hr />
    </div>
  </div>

  <div id="team-members">
    <div class="row">

    <article class="member span4">
      <p class="member-networks">
        <a href="https://twitter.com/cesifoti" class="icon-twitter"></a>
      </p>
      <h3 class="member-name">César Hidalgo</h3>
      <h4 class="member-position">Principal Investigator</h4>
      <p class="member-bio">
        César is an assistant professor and the Asahi Broadcast Corporation Career Development Professor at the MIT Media Lab.
      </p>
    </article>
    <article class="member span4">
      <p class="member-networks">
        <a href="http://www.twitter.com/dj247" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/pub/deepak-jagdish/5/7a/a20" class="icon-linkedin"></a>
        <a href="http://www.github.com/djagdish" class="icon-github"></a>
      </p>
      <h3 class="member-name">Deepak Jagdish</h3>
      <h4 class="member-position">Researcher</h4>
      <p class="member-bio">
        Deepak worked as a visualization &amp; design researcher at Nokia Research Center after finishing his Master's in HCI at Georgia Tech. Now as a graduate student at the Media Lab, he's worked on adding more cities &amp; studies to the new version of Place Pulse.
      </p>
    </article>
    <article class="member span4">
      <p class="member-networks">
      </p>
      <h3 class="member-name">Daniel Smilkov</h3>
      <h4 class="member-position">Researcher</h4>
      <p class="member-bio">
        Daniel is interested in data-mining, modeling and designing algorithms for large real-world networks. He has been working on improving the robustness of the ranking algorithm metrics and other server related functionalities.
      </p>
    </article>
</div>
  <div class="hero-unit">
    <div class="ac">
      <h1>Past Team</h1><br />
      <hr />
    </div>
  </div>

<div class="row">

    <article class="member span4">
      <p class="member-networks">
        <a href="http://www.facebook.com/philsalesses" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/philsalesses" class="icon-twitter"></a>
        <a href="https://plus.google.com/110954196403957869122" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/philsalesses" class="icon-linkedin"></a>
        <a href="http://www.github.com/philsalesses" class="icon-github"></a>
      </p>
      <h3 class="member-name">Phil Salesses</h3>
      <h4 class="member-position">Project Lead</h4>
      <p class="member-bio">
        Phil is a graduate researcher at the MIT Media Lab who has worked with web technologies, geographic information systems and various forms of remote sensing data.
      </p>
    </article>

     <article class="member span4">
      <p class="member-networks">
        <a href="https://www.facebook.com/katja.schechtner" class="icon-facebook-sign"></a>
        <a href="http://at.linkedin.com/pub/katja-schechtner/2/a43/608" class="icon-linkedin"></a>
      </p>
      <h3 class="member-name">Katja Schechtner</h3>
      <h4 class="member-position">Urban Studies Advisor</h4>
      <p class="member-bio">
        Katja has a background in architecture, urban studies and technology assessment. She holds a dual appointment by the Asian Development Bank and MIT Media Lab, leading large scale urban mobility investment and research projects in Asia-Pacific.
      </p>
    </article>

    <article class="member span4">
      <p class="member-networks">

        <a href="http://www.facebook.com/sawaya" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/automin" class="icon-twitter"></a>
        <a href="https://plus.google.com/u/0/107751448889323794562" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/paulsawaya" class="icon-linkedin"></a>
        <a href="http://www.github.com/psawaya" class="icon-github"></a>
      </p>
      <h3 class="member-name">Paul Sawaya</h3>
      <h4 class="member-position">Web and Integration</h4>
      <p class="member-bio">
        Paul studied computer science at Hampshire College, and hacks on identity at Mozilla. He's interested in big data, user privacy, and all of the complicated issues at their intersection.
      </p>
      </article>
</div>
<div class="row">
      <article class="member span4">

      <p class="member-networks">
        <a href="http://www.facebook.com/berlin.wong" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/mbwong" class="icon-twitter"></a>
        <a href="https://plus.google.com/105465133994442968975" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/michael-wong" class="icon-linkedin"></a>
        <a href="http://www.github.com/mbwong" class="icon-github"></a>
      </p>
      <h3 class="member-name">Michael Wong</h3>
      <h4 class="member-position">Ranking Algorithm</h4>
      <p class="member-bio">
        Michael studied at Harvard and recently joined Applied Predictive Technologies in San Francisco. He is passionate about using big data to understand and improve our world.
      </p>
    </article>

    <article class="member span4">

      <p class="member-networks">
        <a href="https://www.facebook.com/michaelx2" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/automin" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/paulsawaya" class="icon-linkedin"></a>
        <a href="http://www.github.com/michaelx11" class="icon-github"></a>
      </p>
      <h3 class="member-name">Michael Xu</h3>
      <h4 class="member-position">General Algorithms</h4>
      <p class="member-bio">
        Michael is a sophomore at the Massachusetts Institute of Technology and is majoring in computer science.
      </p>
    </article>

    <article class="member span4">

      <p class="member-networks">
        <a href="https://www.facebook.com/tony.devincenzi" class="icon-facebook-sign"></a>
        <a href="https://twitter.com/tonydevincenzi" class="icon-twitter"></a>
        <a href="https://plus.google.com/114584989361764422376" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/tonydev" class="icon-linkedin"></a>
      </p>
      <h3 class="member-name">Anthony DeVincenzi</h3>
      <h4 class="member-position">Ars Electronica Exhibit</h4>
      <p class="member-bio">
        Anthony is an American designer and technologist who recently graduated from the MIT Media Lab. He is co-founder of Terrarium, a collective focusing on building new and exciting mobile experiences.
      </p>
    </article>

</div>

  <div class="hero-unit">
    <div class="ac">
      <h1>Media</h1>
    </div>
  </div>

<div id="portfolio">

    <!-- portfolio filter -->
    <ul id="portfolio-filter" class="nav nav-tabs">
      <li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
      <li><a href="#" class="filter" data-filter=".exhibitions">Exhibits</a></li>
      <li><a href="#" class="filter" data-filter=".talks">Talks</a></li>
      <li><a href="#" class="filter" data-filter=".press">Press</a></li>
    </ul>

    <!-- portfolio items -->
    <div class="row" id="portfolio-items">

      <!-- portfolio item-->
      <div class="span4 project" data-tags="exhibitions">

        <a class="thumbnail" href="http://www.spontaneousinterventions.org/project/place-pulse">
          <!-- image -->
          <img src="/static/img/about/biennale.jpg" />
          <!-- name -->
          <b class="project-name">2012 Venice Architecture Biennale</b>
        </a>
      </div>


      <!-- portfolio item-->
      <div class="span4 project" data-tags="talks">

        <a class="thumbnail" href="http://www.un-habitat.org/content.asp?cid=10857&catid=5&typeid=6">
          <!-- image -->
          <img src="/static/img/about/un.jpg" />
          <!-- name -->
          <b class="project-name">The United Nations</b>
        </a>
      </div>

            <!-- portfolio item-->
      <div class="span4 project" data-tags="talks">

        <a class="thumbnail" href="http://tedxmidatlantic.com/2011-talks/">
          <!-- image -->
          <img src="/static/img/about/tedxmidatlantic.jpg" />
          <!-- name -->
          <b class="project-name">2011 TEDxMidAtlantic</b>
        </a>
      </div>


      <!-- portfolio item-->
      <div class="span4 project" data-tags="exhibitions">

        <a class="thumbnail" href="http://www.aec.at/origin/en/2011/05/03/sensing-place-placing-sense-ausstellung/">
          <!-- image -->
          <img src="/static/img/about/arselectronica.jpg" />
          <!-- name -->
          <b class="project-name">2011 Ars Electronica</b>
        </a>
      </div>

            <!-- portfolio item-->
      <div class="span4 project" data-tags="exhibitions">

        <a class="thumbnail" href="http://www.tedxcambridge.com/thrive/speakers/">
          <!-- image -->
          <img src="/static/img/about/tedxcambridge.jpg" />
          <!-- name -->
          <b class="project-name">2011 TEDxCambridge</b>
        </a>
      </div>

            <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.guardian.co.uk/artanddesign/2011/aug/19/place-pulse-website-city-safety">
          <!-- image -->
          <img src="/static/img/about/guardian.jpg" />
          <!-- name -->
          <b class="project-name">The Guardian</b>
        </a>
      </div>
            <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.fastcodesign.com/1664885/mits-place-pulse-a-hot-or-not-for-cities-to-fix-broken-blocks">
          <!-- image -->
          <img src="/static/img/about/fastcompany.jpg" />
          <!-- name -->
          <b class="project-name">Fast Company Design</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://gizmodo.com/5831668/why-do-we-judge-some-areas-as-being-safer-than-others">
          <!-- image -->
          <img src="/static/img/about/gizmodo.jpg" />
          <!-- name -->
          <b class="project-name">Gizmodo</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.smartplanet.com/blog/cities/mit-scientifically-defines-8216curb-appeal-using-google-street-view/716">
          <!-- image -->
          <img src="/static/img/about/smartplanet.jpg" />
          <!-- name -->
          <b class="project-name">Smart Planet (ZDNet)</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://derstandard.at/1315005667161/Die-Stadt-von-morgen-Mit-dem-Taxi-vom-Datenberg-in-die-Stadt">
          <!-- image -->
          <img src="/static/img/about/derstandard.jpg" />
          <!-- name -->
          <b class="project-name">Der Standard (German)</b>
        </a>
      </div>

            <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.rtve.es/noticias/20110902/ciudades-vistas-sabiduria-multitudes-internet/458833.shtml">
          <!-- image -->
          <img src="/static/img/about/rtve.jpg" />
          <!-- name -->
          <b class="project-name">RTVE.es (Spanish)</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.coolhunting.com/tech/place-pulse.php">
          <!-- image -->
          <img src="/static/img/about/coolhunting.jpg" />
          <!-- name -->
          <b class="project-name">Cool Hunting</b>
        </a>
      </div>

                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.psfk.com/2011/09/place-pulse-brings-a-collaborative-image-to-the-city.html">
          <!-- image -->
          <img src="/static/img/about/psfk.jpg" />
          <!-- name -->
          <b class="project-name">PSFK</b>
        </a>
      </div>

                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://bostinno.com/2011/08/29/mits-place-pulse-is-working-to-determine-whats-hot-or-not-in-the-worlds-cities/">
          <!-- image -->
          <img src="/static/img/about/bostinno.jpg" />
          <!-- name -->
          <b class="project-name">BostInno</b>
        </a>
      </div>



    </div>
</div>
  </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}