{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block nav %}
    {% set active_page = 'about' -%}
    {{ super() }}
{% endblock %}

{% block body %}

  <div class="hero-unit">
    <div class="ac">
      <h1>The Project</h1><br />
      <hr />
    </div>
  </div>

<div id="explore">
    <div class="row">
      <div class="span6 project">

        <a class="thumbnail">
          <img src="/static/img/about/visualization.jpg" />
        </a>
      </div>
      <div class="span6">
        <p>Imagine traveling through a strange city... Inside your mind, subconscious judgements about your surroundings are made in real time. Do you feel safe? Does the area you are in seem unique? Does it appear wealthy, clean or energetic? You may not think about, let alone understand, what goes into making these anecdotal determinations, but when elicited, your opinions can be understood as part of a more substantial collective and used in powerful ways.</p>
      <p>Place Pulse is a website that allows anybody to quickly run a perception study and visualize the results in powerful ways. Developed at the MIT Media Lab by the Macro Connections group, Place Pulse crowdsources surveys to internet participants, asking binary perception questions across a large number of geotagged images. From the responses of each participant we generate perception layers that can be plugged into existing applications. Any company, from Android to Yahoo, could make use of this data and incorporate human perception data into their apps.</p>
      </div>
    </div>
  </div>



<div class="hero-unit">
    <div class="ac">
      <h1>The Team</h1><br />
      <hr />
    </div>
  </div>

  <div id="team-members">
    
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/phil.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.facebook.com/philsalesses" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/philsalesses" class="icon-twitter"></a>
        <a href="https://plus.google.com/110954196403957869122" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/philsalesses" class="icon-linkedin"></a>
        <a href="http://www.github.com/philsalesses" class="icon-github"></a>
      </p>
      <h3 class="member-name">Phil Salesses</h3>
      <h4 class="member-position">Project Lead</h4>
      <p class="member-bio">
        Phil is a graduate researcher at the MIT Media Lab who has worked with web technologies, geographic information systems and various forms of remote sensing data. 
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/paul.jpg" />
      </div>
      <p class="member-networks">

        <a href="http://www.facebook.com/sawaya" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/automin" class="icon-twitter"></a>
        <a href="https://plus.google.com/u/0/107751448889323794562" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/paulsawaya" class="icon-linkedin"></a>
        <a href="http://www.github.com/psawaya" class="icon-github"></a>
      </p>
      <h3 class="member-name">Paul Sawaya</h3>
      <h4 class="member-position">Software Engineer</h4>
      <p class="member-bio">
        Paul studied computer science at Hampshire College, and hacks on identity at Mozilla. He's interested in big data, user privacy, and all of the complicated issues at their intersection.
      </p>
    </article>  

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/tony.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://www.facebook.com/tony.devincenzi" class="icon-facebook-sign"></a>
        <a href="https://twitter.com/tonydevincenzi" class="icon-twitter"></a>
        <a href="https://plus.google.com/114584989361764422376" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/tonydev" class="icon-linkedin"></a>
      </p>
      <h3 class="member-name">Anthony DeVincenzi</h3>
      <h4 class="member-position">Designer</h4>
      <p class="member-bio">
        Anthony is an American designer and technologist who recently graduated from the MIT Media Lab. He is co-founder of Terrarium, a collective focusing on building new and exciting mobile experiences.
      </p>
    </article>

    </div>
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/michaelx.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://www.facebook.com/michaelx2" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/automin" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/paulsawaya" class="icon-linkedin"></a>
        <a href="http://www.github.com/michaelx11" class="icon-github"></a>
      </p>
      <h3 class="member-name">Michael Xu</h3>
      <h4 class="member-position">Software Engineer</h4>
      <p class="member-bio">
        Michael is a sophomore at the Massachusetts Institute of Technology and is majoring in computer science.
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/michaelw.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.facebook.com/berlin.wong" class="icon-facebook-sign"></a>
        <a href="http://www.twitter.com/mbwong" class="icon-twitter"></a>
        <a href="https://plus.google.com/105465133994442968975" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/michael-wong" class="icon-linkedin"></a>
        <a href="http://www.github.com/mbwong" class="icon-github"></a>
      </p>
      <h3 class="member-name">Michael Wong</h3>
      <h4 class="member-position">Data Scientist</h4>
      <p class="member-bio">
        Michael studied at Harvard and recently joined Applied Predictive Technologies in San Francisco. He is passionate about using big data to understand and improve our world.
      </p>
    </article>  

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/kiran.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.facebook.com/kiranmayi.bhattaram" class="icon-facebook-sign"></a>
        <a href="https://twitter.com/kiranb13" class="icon-twitter"></a>
        <a href="https://plus.google.com/114840978159138771186" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/kiranbhattaram" class="icon-linkedin"></a>
        <a href="http://www.github.com/kiran-b" class="icon-github"></a>
      </p>
      <h3 class="member-name">Kiran Bhattaram</h3>
      <h4 class="member-position">Data Scientist</h4>
      <p class="member-bio">
        Kiran is an EECS undergraduate at MIT.  In no particular order, she's fascinated by usability, big data, cities and open web technologies.
      </p>
    </article>

    </div>
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/amanda.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.facebook.com/mandi.j.davis" class="icon-facebook-sign"></a>
        <a href="https://twitter.com/MandiDavisUX" class="icon-twitter"></a>
        <a href="https://plus.google.com/112753355571941122438/" class="icon-google-plus"></a>
        <a href="http://www.linkedin.com/in/davismandi" class="icon-linkedin"></a>
      </p>
      <h3 class="member-name">Mandi Davis</h3>
      <h4 class="member-position">Human Factors</h4>
      <p class="member-bio">
        Mandi is a graduate student applying eye-tracking and affective measurement tools to usability and marketing research at the Design and Usability Center. 
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/mauro.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://www.facebook.com/mauro.martino" class="icon-facebook-sign"></a>
        <a href="http://twitter.com/pacianca3" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/mauromartino" class="icon-linkedin"></a>
      </p>
      <h3 class="member-name">Mauro Martino</h3>
      <h4 class="member-position">Visualizations</h4>
      <p class="member-bio">
        Mauro is an assistant research professor exploring the visualization of complex networks at Northeastern University's Center for Complex Network Research.
      </p>
    </article>  

    </div>
    <div class="hero-unit">
    <div class="ac">
      <h1>The Advisors</h1><br />
      <hr />
    </div>
  </div>
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/cesar.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://twitter.com/cesifoti" class="icon-twitter"></a>
      </p>
      <h3 class="member-name">César Hidalgo</h3>
      <h4 class="member-position">Principal Investigator</h4>
      <p class="member-bio">
        César is an assistant professor and the Asahi Broadcast Corporation Career Development Professor at the MIT Media Lab.
      </p>
    </article>

     <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/katja.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://www.facebook.com/katja.schechtner" class="icon-facebook-sign"></a>
        <a href="http://at.linkedin.com/pub/katja-schechtner/2/a43/608" class="icon-linkedin"></a>
      </p>
      <h3 class="member-name">Katja Schechtner</h3>
      <h4 class="member-position">Urban Studies</h4>
      <p class="member-bio">
        Katja has a background in architecture, urban studies and technology assessment. She is the head of Dynamic Tranportation Systems at AIT's Mobility Department and also a visiting scholar at the MIT Media Lab.
      </p>
    </article>
  </div>

  <div class="hero-unit">
    <div class="ac">
      <h1>The Media</h1>
    </div>
  </div>

<div id="portfolio">

    <!-- portfolio filter -->   
    <ul id="portfolio-filter" class="nav nav-tabs">
      <li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
      <li><a href="#" class="filter" data-filter=".exhibitions">Exhibitions</a></li>
      <li><a href="#" class="filter" data-filter=".talks">Talks</a></li>
      <li><a href="#" class="filter" data-filter=".press">Press</a></li>
    </ul>

    <!-- portfolio items -->    
    <div class="row" id="portfolio-items">

      <!-- portfolio item-->
      <div class="span4 project" data-tags="exhibitions">

        <a class="thumbnail" href="http://www.spontaneousinterventions.org/participants-projects">
          <!-- image -->
          <img src="/static/img/about/biennale.jpg" />
          <!-- name -->
          <b class="project-name">The Venice Biennale</b>
        </a>
      </div>
            <!-- portfolio item-->
      <div class="span4 project" data-tags="exhibitions">

        <a class="thumbnail" href="http://www.tedxcambridge.com/thrive/speakers/">
          <!-- image -->
          <img src="/static/img/about/tedxcambridge.jpg" />
          <!-- name -->
          <b class="project-name">TEDxCambridge</b>
        </a>
      </div>
            <!-- portfolio item-->
      <div class="span4 project" data-tags="talks">

        <a class="thumbnail" href="http://tedxmidatlantic.com/2011-talks/">
          <!-- image -->
          <img src="/static/img/about/tedxmidatlantic.jpg" />
          <!-- name -->
          <b class="project-name">TEDxMidAtlantic</b>
        </a>
      </div>

      <!-- portfolio item-->
      <div class="span4 project" data-tags="talks">

        <a class="thumbnail" href="http://www.un-habitat.org/content.asp?cid=10857&catid=5&typeid=6">
          <!-- image -->
          <img src="/static/img/about/un.jpg" />
          <!-- name -->
          <b class="project-name">The United Nations</b>
        </a>
      </div>

      <!-- portfolio item-->
      <div class="span4 project" data-tags="exhibitions">

        <a class="thumbnail" href="http://www.aec.at/origin/en/2011/05/03/sensing-place-placing-sense-ausstellung/">
          <!-- image -->
          <img src="/static/img/about/arselectronica.jpg" />
          <!-- name -->
          <b class="project-name">Ars Electronica</b>
        </a>
      </div>
            <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.guardian.co.uk/artanddesign/2011/aug/19/place-pulse-website-city-safety">
          <!-- image -->
          <img src="/static/img/about/guardian.jpg" />
          <!-- name -->
          <b class="project-name">The Guardian</b>
        </a>
      </div>
            <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.fastcodesign.com/1664885/mits-place-pulse-a-hot-or-not-for-cities-to-fix-broken-blocks">
          <!-- image -->
          <img src="/static/img/about/fastcompany.jpg" />
          <!-- name -->
          <b class="project-name">Fast Company Design</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://gizmodo.com/5831668/why-do-we-judge-some-areas-as-being-safer-than-others">
          <!-- image -->
          <img src="/static/img/about/gizmodo.jpg" />
          <!-- name -->
          <b class="project-name">Gizmodo</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.smartplanet.com/blog/cities/mit-scientifically-defines-8216curb-appeal-using-google-street-view/716">
          <!-- image -->
          <img src="/static/img/about/smartplanet.jpg" />
          <!-- name -->
          <b class="project-name">Smart Planet (ZDNet)</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://derstandard.at/1315005667161/Die-Stadt-von-morgen-Mit-dem-Taxi-vom-Datenberg-in-die-Stadt">
          <!-- image -->
          <img src="/static/img/about/derstandard.jpg" />
          <!-- name -->
          <b class="project-name">Der Standard (German)</b>
        </a>
      </div>

            <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.rtve.es/noticias/20110902/ciudades-vistas-sabiduria-multitudes-internet/458833.shtml">
          <!-- image -->
          <img src="/static/img/about/rtve.jpg" />
          <!-- name -->
          <b class="project-name">RTVE.es (Spanish)</b>
        </a>
      </div>
                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.coolhunting.com/tech/place-pulse.php">
          <!-- image -->
          <img src="/static/img/about/coolhunting.jpg" />
          <!-- name -->
          <b class="project-name">Cool Hunting</b>
        </a>
      </div>

                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://www.psfk.com/2011/09/place-pulse-brings-a-collaborative-image-to-the-city.html">
          <!-- image -->
          <img src="/static/img/about/psfk.jpg" />
          <!-- name -->
          <b class="project-name">PSFK</b>
        </a>
      </div>

                  <!-- portfolio item-->
      <div class="span4 project" data-tags="press">

        <a class="thumbnail" href="http://bostinno.com/2011/08/29/mits-place-pulse-is-working-to-determine-whats-hot-or-not-in-the-worlds-cities/">
          <!-- image -->
          <img src="/static/img/about/bostinno.jpg" />
          <!-- name -->
          <b class="project-name">BostInno</b>
        </a>
      </div>



    </div>
</div>
  </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}