{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block nav %}
    {% set active_page = 'about' -%}
    {{ super() }}
{% endblock %}

{% block body %}

  <div class="hero-unit">
    <div class="ac">
      <h1>The Project</h1><br />
      <hr />
      <p><em>"Place Pulse, by the Macro Connections group, is a website that puts the full force of science behind fuzzy things like how safe or rich or unusual a city seems, and it does it in the least likely way: by crowdsourcing people’s ratings of streets, using geotagged images, and turning those answers into hard, eminently crunchable numbers." - Fast Company Design</em></p>
    </div>
  </div>

<div id="explore">
    <div class="row">
      <div class="span6">
        <h3>Imagine traveling through a strange city...</h3>
        <p>Inside your mind, subconscious judgements about your surroundings are made in real time. Do you feel safe? Does the area you are in seem unique? Does it appear wealthy, clean or energetic? You may not think about, let alone understand, what goes into making these anecdotal determinations, but when elicited, your opinions can be understood as part of a more substantial collective and used in powerful ways.</p>
     <p>Place Pulse is a website that allows anybody to quickly run a perception study and visualize the results in powerful ways. Developed at the MIT Media Lab by the Macro Connections group, Place Pulse crowdsources surveys to internet participants, asking binary perception questions across a large number of geotagged images. From the responses of each participant we generate perception layers that can be plugged into existing applications. Any company, from Android to Yahoo, could make use of this data and incorporate human perception data into their apps.</p>
      </div>
      <div class="span6">
        <p>
          <img rel="tooltip" title="Ars Electronica Visualization" alt="" class="thumbnail fr" src="/static/img/about/visualization.jpg" width="400" />
        </p>
      </div>
    </div>
  </div>


<div class="hero-unit">
    <div class="ac">
      <h1>The Team</h1><br />
      <hr />
    </div>
  </div>

  <div id="team-members">
    
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/phil.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.twitter.com/philsalesses" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/philsalesses" class="icon-linkedin"></a>
        <a href="http://www.facebook.com/philsalesses" class="icon-facebook"></a>
        <a href="https://plus.google.com/110954196403957869122" class="icon-google-plus"></a>
        <a href="http://www.github.com/philsalesses" class="icon-github"></a>
      </p>
      <h3 class="member-name">Phil Salesses</h3>
      <h4 class="member-position">Project Lead</h4>
      <p class="member-bio">
        Phil is a graduate researcher at the MIT Media Lab who has worked with web technologies, geographic information systems and various forms of remote sensing data. 
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/paul.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.twitter.com/automin" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/paulsawaya" class="icon-linkedin"></a>
        <a href="http://www.facebook.com/sawaya" class="icon-facebook"></a>
        <a href="https://plus.google.com/u/0/107751448889323794562" class="icon-google-plus"></a>
        <a href="http://www.github.com/psawaya" class="icon-github"></a>
      </p>
      <h3 class="member-name">Paul Sawaya</h3>
      <h4 class="member-position">Software Engineer</h4>
      <p class="member-bio">
        Paul is an employee of Mozilla and previous undergraduate researcher at Hampshire College. He has worked for industry titans such as Apple, Bloomberg and up-and-coming startup Justin.tv.
      </p>
    </article>  

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/tony.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://twitter.com/tonydevincenzi" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/tonydev" class="icon-linkedin"></a>
        <a href="https://www.facebook.com/tony.devincenzi" class="icon-facebook"></a>
        <a href="https://plus.google.com/114584989361764422376" class="icon-google-plus"></a>
      </p>
      <h3 class="member-name">Anthony DeVincenzi</h3>
      <h4 class="member-position">Designer</h4>
      <p class="member-bio">
        Anthony is a creative director, designer and graduate researcher at the Media Lab.
      </p>
    </article>

    </div>
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/michaelx.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.twitter.com/automin" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/paulsawaya" class="icon-linkedin"></a>
        <a href="https://www.facebook.com/michaelx2" class="icon-facebook"></a>
        <a href="http://www.github.com/michaelx11" class="icon-github"></a>
      </p>
      <h3 class="member-name">Michael Xu</h3>
      <h4 class="member-position">Software Engineer</h4>
      <p class="member-bio">
        Michael is an undergraduate researcher at MIT. 
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/michaelw.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.twitter.com/mbwong" class="icon-twitter"></a>
        <a href="http://www.facebook.com/berlin.wong" class="icon-facebook"></a>
        <a href="http://www.github.com/mbwong" class="icon-github"></a>
      </p>
      <h3 class="member-name">Michael Wong</h3>
      <h4 class="member-position">Data Scientist</h4>
      <p class="member-bio">
        Michael is an undergraduate researcher at Harvard.
      </p>
    </article>  

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/kiran.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://twitter.com/kiranb13" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/kiranbhattaram" class="icon-linkedin"></a>
        <a href="http://www.facebook.com/kiranmayi.bhattaram" class="icon-facebook"></a>
        <a href="https://plus.google.com/114840978159138771186" class="icon-google-plus"></a>
        <a href="http://www.github.com/kiran-b" class="icon-github"></a>
      </p>
      <h3 class="member-name">Kiran Bhattaram</h3>
      <h4 class="member-position">Data Scientist</h4>
      <p class="member-bio">
        Kiran is an EECS undergraduate at MIT.  In no particular order, she's fascinated by usability, big data, cities and open web technologies.
      </p>
    </article>

    </div>
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/amanda.png" />
      </div>
      <p class="member-networks">
        <a href="https://twitter.com/MandiDavisUX" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/davismandi" class="icon-linkedin"></a>
        <a href="http://www.facebook.com/mandi.j.davis" class="icon-facebook"></a>
        <a href="https://plus.google.com/112753355571941122438/" class="icon-google-plus"></a>
      </p>
      <h3 class="member-name">Mandi Davis</h3>
      <h4 class="member-position">Human Factors</h4>
      <p class="member-bio">
        Mandi is a graduate student applying eye-tracking and affective measurement tools to usability and marketing research at the Design and Usability Center. 
      </p>
    </article>

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/mauro.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://twitter.com/pacianca3" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/mauromartino" class="icon-linkedin"></a>
        <a href="https://www.facebook.com/mauro.martino" class="icon-facebook"></a>
      </p>
      <h3 class="member-name">Mauro Martino</h3>
      <h4 class="member-position">Visualizations</h4>
      <p class="member-bio">
        Mauro is an assistant research professor exploring the visualization of complex networks at Northeastern University's Center for Complex Network Research.
      </p>
    </article>  

    </div>
    <div class="hero-unit">
    <div class="ac">
      <h1>The Advisors</h1><br />
      <hr />
    </div>
  </div>
    <div class="row">

    <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/cesar.jpg" />
      </div>
      <p class="member-networks">
        <a href="https://twitter.com/cesifoti" class="icon-twitter"></a>
      </p>
      <h3 class="member-name">César Hidalgo</h3>
      <h4 class="member-position">Principal Investigator</h4>
      <p class="member-bio">
        César is an assistant professor and the Asahi Broadcast Corporation Career Development Professor at the MIT Media Lab.
      </p>
    </article>

     <article class="member span4">
      <div class="member-avatar">
        <img alt="" class="thumbnail" src="/static/img/about/katja.jpg" />
      </div>
      <p class="member-networks">
        <a href="http://www.twitter.com/philsalesses" class="icon-twitter"></a>
        <a href="http://www.linkedin.com/in/philsalesses" class="icon-linkedin"></a>
        <a href="http://www.facebook.com/philsalesses" class="icon-facebook"></a>
        <a href="https://plus.google.com/110954196403957869122" class="icon-google-plus"></a>
        <a href="http://www.github.com/philsalesses" class="icon-github"></a>
      </p>
      <h3 class="member-name">Katja Schechtner</h3>
      <h4 class="member-position">Urban Planning Advisor</h4>
      <p class="member-bio">
        Katja leads Europe's largest research group that focuses on Urban Transportation and Mobility.
      </p>
    </article>
  </div>
  </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}