{% extends "base.html" %}

{% block header %}
<!-- Le styles -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% set active_page = "controlpanel" %}
    {% include 'nav.html' %}
{% endblock %}

{% block body %}
<header class="jumbotron subhead">
    <h1>Control Panel</h1>
    <p class="lead">Control everything about your study from one place.</p>
</header>
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Control Panel</li>
          <li><a href='/admin/studies/'><i class="icon-book"></i> Studies</a></li>
          <li><a href='/admin/places/'><i class="icon-plane"></i> Places</a></li>
          <li><a href='/admin/locations/'><i class="icon-map-marker"></i> Locations</a></li>
          <li><a href='/admin/images/'><i class="icon-picture"></i> Images</a></li>
          <li><a href='/admin/votes/'><i class="icon-ok"></i> Votes</a></li>
          <li><a href='/admin/results/'><i class="icon-signal"></i> Results</a></li>
          <li class="nav-header">Your Account</li>
          <li><a href='/admin/profile/'><i class="icon-user"></i> Profile</a></li>
          <li><a href='/admin/settings/'><i class="icon-cog"></i> Settings</a></li>
          <li><a href='/admin/help/'><i class="icon-question-sign"></i> Help</a></li>
        <hr>
          <li class="nav-header"><span class="label">Admin</span> Control Panel</li>
          <li><a href='/admin/admin/studies/'><i class="icon-book"></i> Studies</a></li>
          <li><a href='/admin/admin/places/'><i class="icon-plane"></i> Places</a></li>
          <li><a href='/admin/admin/locations/'><i class="icon-map-marker"></i> Locations</a></li>
          <li><a href='/admin/admin/images/'><i class="icon-picture"></i> Images</a></li>
          <li><a href='/admin/admin/votes/'><i class="icon-ok"></i> Votes</a></li>
          <li><a href='/admin/admin/results/'><i class="icon-signal"></i> Results</a></li>
          <li><a href='/admin/admin/users/'><i class="icon-user"></i> Users</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
      <div class="row">
        <div class="span3">
          <h2>Popular Studies</h2>
          <ol>
            {%for study in popular_studies:%}
              <li><a href='/study/{{study._id}}'>Which place looks more {{study.study_question}}?</a></li>
              {%endfor%}
          </ol>
          <p><a class="btn" href="#">View more &raquo;</a></p>
        </div><!--/span-->
        <div class="span3">
          <h2>Recently Added Cities</h2>
          <ol>
            {%for study in new_cities:%}
              <li><a href='/study/{{study._id}}'>{{study.city}}</a></li>
              {%endfor%}
          </ol>
          <p><a class="btn" href="#">View more &raquo;</a></p>
        </div><!--/span-->
        <div class="span3">
          <h2>Newest Results</h2>
          <ol>
            {%for study in inactive_studies:%}
              <li><a href='/study/view_specific/{{study._id}}'>Which place looks more {{study.study_question}}?</a></li>
              {%endfor%}
          </ol>
          <p><a class="btn" href="#">View more &raquo;</a></p>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}

{% block footer %}
  <hr>

  <footer>
    <p>&copy; 2012 <a href="http://macroconnections.media.mit.edu">Macro Connections</a> | <a href="http://media.mit.edu">Media Lab</a> | <a href="http://www.mit.edu">Massachusetts Institute of Technology</a></p>
  </footer>

</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>
<script>
$(document).ready(function() {
    // On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }

    loadScript();
});
</script>
{% endblock %}
