{% extends "base.html" %}

{% block header %}
{{ super() }}
<link href="/static/css/sub.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% set active_page = "about" %}
    {{ super() }}
{% endblock %}

{% block body %}

<!-- Masthead
================================================== -->
<header class="jumbotron subhead">
    <h1 class="h1extra">Control Panel</h1>
</header>
<div class="row" align="center">
   <div class="span3" align="left">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Control Panel</li>
          <li class="active"><a href='/admin/studies/'><i class="icon-book icon-white"></i> Studies</a></li>
          <li><a href='/admin/places/'><i class="icon-plane"></i> Places</a></li>
          <li><a href='/admin/locations/'><i class="icon-map-marker"></i> Locations</a></li>
          <li><a href='/admin/images/'><i class="icon-picture"></i> Images</a></li>
          <li><a href='/admin/votes/'><i class="icon-ok"></i> Votes</a></li>
          <li><a href='/admin/results/'><i class="icon-signal"></i> Results</a></li>
          <li class="nav-header">Your Account</li>
          <li><a href='/admin/users/view_all'><i class="icon-user"></i> Profile</a></li>
          <li><a href='/admin/users/view_specific'><i class="icon-cog"></i> Settings</a></li>
          <li><a href='/admin/users/view_specific'><i class="icon-question-sign"></i> Help</a></li>
        </ul>
      </div><!--/.well -->
   </div>
   <div class="span9" align="left">
     <table class="table table-bordered">
             <thead>
               <tr>
                 <th>ID</th>
                 <th>Question</th>
                 <th>City</th>
                 <th>Manage</th>
               </tr>
             </thead>
             <tbody>
               {%for study in studies:%}
               <tr>
                 <td><a href='/study/{{study._id}}'>{{study._id}}</a></td>
                 <td>Which place looks more {{study.study_question}}?</td>
                 <td><a href='/admin/places/{{study._id}}'>{{study.city}}</a></td>
                 <td><a href='/admin/votes/{{study._id}}' title="Manage Votes"><i class="icon-book"></i></a> <a href='/admin/places/{{study._id}}' title="Manage Places"><i class="icon-plane"></i></a> <a href='/admin/locations/{{study._id}}' title="Manage Locations"><i class="icon-map-marker"></i></a> <a href='/admin/images/{{study._id}}' title="Manage Images"><i class="icon-picture"></i></a> <a href='/admin/votes/{{study._id}}' title="Manage Votes"><i class="icon-ok"></i></a> <a href='/admin/results/{{study._id}}' title="Manage Results"><i class="icon-signal"></i></a></td>
               </tr>
               {%endfor%}
             </tbody>
           </table> 
  </div>
</div><!--/row-->
{% endblock %}

{% block footer %}
{{ super() }}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>
<script>
$('#phil').popover({'placement':'top','title':'Phil Salesses','content':'Phil is a graduate researcher at the MIT Media Lab who has worked with web technologies, geographic information systems and various forms of remote sensing data.'});
$('#paul').popover({'placement':'top','title':'Paul Sawaya','content':'Paul is an undergraduate researcher at Hampshire College and has worked for industry titans such as Apple, Bloomberg and up-and-coming Justin.tv.'});
$('#michaelw').popover({'placement':'top','title':'Michael Wong','content':'Michael is an undergraduate researcher at Harvard.'});
$('#michaelx').popover({'placement':'top','title':'Michael Xu','content':'Michael is an undergraduate researcher at MIT.'});
$('#tony').popover({'placement':'top','title':'Anthony DeVincenzi','content':'Anthony is a creative director, designer and graduate researcher at the Media Lab.'});
$('#kiran').popover({'placement':'top','title':'Kiran Bhattaram','content':'Kiran is an undergraduate researcher at MIT.'});
$('#amanda').popover({'placement':'top','title':'Amanda Davis','content':'Amanda works as a researcher at the Design and Usability Center.'});
$('#mauro').popover({'placement':'top','title':'Mauro Martino','content':'Mauro is an Assistant Professor at the Northeastern University Center for Complex Network Research, working to visualize and explore complex network data.'});
$('#katja').popover({'placement':'top','title':'Katja Schechtner','content':'Katja leads Europe\'s largest research group that focuses on Urban Transportation and Mobility. '});
$('#cesar').popover({'placement':'top','title':'César Hidalgo','content':'César is an assistant professor and the Asahi Broadcast Corporation Career Development Professor at the MIT Media Lab and a faculty associate at Harvard’s University Center for International Development.'});
$(document).ready(function() {
    // On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }

    loadScript();
});
</script>
{% endblock %}
