{% extends "base_admin.html" %}

{% block header %}
{{ super() }}
<link href="/static/css/sub.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}

<!-- Masthead
================================================== -->
<header class="jumbotron subhead">
    <h1 class="h1extra">Control Panel</h1>
</header>
<div class="row" align="center">
   <div class="span3" align="left">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Control Panel</li>
          <li><a href='/admin/studies/'><i class="icon-book"></i> Studies</a></li>
          <li class="active"><a href='/admin/places/'><i class="icon-plane icon-white"></i> Places</a></li>
          <li><a href='/admin/locations/'><i class="icon-map-marker"></i> Locations</a></li>
          <li><a href='/admin/images/'><i class="icon-picture"></i> Images</a></li>
          <li><a href='/admin/votes/'><i class="icon-ok"></i> Votes</a></li>
          <li><a href='/admin/results/'><i class="icon-signal"></i> Results</a></li>
          <li class="nav-header">Your Account</li>
          <li><a href='/admin/users/view_all'><i class="icon-user"></i> Profile</a></li>
          <li><a href='/admin/users/view_specific'><i class="icon-cog"></i> Settings</a></li>
          <li><a href='/admin/users/view_specific'><i class="icon-question-sign"></i> Help</a></li>
        </ul>
      </div><!--/.well -->
   </div>
   <div class="span9" align="left">
     <table class="table table-bordered">
             <thead>
               <tr>
                 <th>Edit Information</th>
                 <th>Public Link to Your Study</th>
               </tr>
             </thead>
             <tbody>
               {%for study in studies:%}
               <tr>
                 <td><a href='/admin/study/{{study._id}}'>Which place looks more {{study.study_question}}?</a></td>
                 <td><a href='/study/view/{{study._id}}'>View study</a></td>               
              </tr>
               {%endfor%}
             </tbody>
           </table> 
  </div>
</div><!--/row-->
{% endblock %}

{% block footer %}
{{ super() }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script src="/static/js/lib/jquery.zclip.min.js"></script> 

<script>
$(document).ready(function() {
  $('a#copy-').zclip({
          path:'/static/js/lib/ZeroClipboard.swf',
          copy:$('').text()
      });
});
</script>
{% endblock %}
