{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block nav %}
    {% set active_page = 'admin' -%}
    {{ super() }}
  {% endblock %}

{% block body %}

  <div class="hero-unit">
    <div class="ac">
      <h1>Control Panel</h1><br />
      <p id="info-alert">Administer all aspects of your account from one place.</p>
      <hr />
    </div>
  </div>

<div id="admin">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Control Panel</li>
          <li><a href='/admin/studies/'><i class="icon-book"></i> Studies</a></li>
          <li><a href='/admin/places/'><i class="icon-plane"></i> Places</a></li>
          <li><a href='/admin/locations/'><i class="icon-map-marker"></i> Locations</a></li>
          <li class="active"><a href='/admin/images/'><i class="icon-picture icon-white"></i> Images</a></li>
          <li><a href='/admin/votes/'><i class="icon-ok"></i> Votes</a></li>
          <li><a href='/admin/results/'><i class="icon-signal"></i> Results</a></li>
          <li class="nav-header">Your Account</li>
          <li><a href='/admin/users/view_all'><i class="icon-user"></i> Profile</a></li>
          <li><a href='/admin/users/view_specific'><i class="icon-cog"></i> Settings</a></li>
          <li><a href='/admin/users/view_specific'><i class="icon-question-sign"></i> Help</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9" align="left">
     <h3>Feature Coming Soon...</h3>
    </div>
  </div><!--/row-->
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}