<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Place Pulse | The Collaborative Image of the City</title>
	<meta name="description" content="Place Pulse is a website that allows anybody to quickly run an urban perception study and visualize the results in powerful ways." />
	<meta name="author" content="Phil Salesses | Macro Connections | The Media Lab | Massachusetts Institute of Technology" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	{% block header %}
    {% endblock %}

    <!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/static/images/customize/favicon.ico" />
	<link rel="apple-touch-icon" href="/static/images/customize/apple/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/customize/apple/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/customize/apple/touch-icon-iphone4.png" />
  </head>

  <body>
	{% block nav %}
	{% endblock %}
	{% block body %}
	{% endblock %}
	{% block footer %}
	{% endblock %}
    <script>
	  	var _gaq = [['_setAccount', 'UA-21313433-1'], ['_trackPageview']];
	   	(function(d, t) {
		    var g = d.createElement(t),
		    s = d.getElementsByTagName(t)[0];
		   	g.async = true;
		    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    s.parentNode.insertBefore(g, s);
		 })(document, 'script');
	</script>
  </body>
</html>