{% extends "base.html" %}
{% set active_page = "contact" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}


{% block body %}
</div>
<iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;cid=1884377004050972720&amp;q=MIT+Media+Lab&amp;t=h&amp;z=14&amp;output=embed"></iframe>

  <div class="container hero-unit">
    <div class="row">
      <p class="span4 ac">
        <br />
        <a class="btn btn-large btn-primary" href="mailto:salesses@mit.edu"><b>@ Write us</b></a><br /><br />
        <b>Macro Connections</b><br />75 Amherst Street, E14-348B<br />Cambridge, Massachusetts 02139<br /><a href="https://maps.google.com/?ie=UTF8&cid=1884377004050972720&q=MIT+Media+Lab&t=h&hq=MIT+Media+Lab&hnear=&&z=15&vpsrc=0&iwloc=A&f=d&daddr=MIT+Media+Lab,+75+Amherst+Street,+Cambridge,+MA+02139">Get Directions</a>
      </p>
      <p class="span4" style="text-align:justify;">
        The way we act, both individually and collectively, depends strongly on how we see the world. Our group focuses on the development of analytical tools that can help improve our understanding of the world’s macro structures in all of their complexity.
      </p>
      <p class="span4" style="text-align:justify;">
        By developing methods to analyze and represent complex networks, Macro Connections research aims to help improve our understanding of the world by putting together the pieces that our scientific disciplines have helped to pull apart.
      </p>
    </div>
  </div>
  </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}