{% extends "base.html" %}
{% set active_page = "faq" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>

{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="hero-unit faq">
    <div class="ac">
      <h1>FAQ</h1><br />
      <p>Answers to frequently asked questions.</p>
      <input type="text" value="" placeholder="Search ..." />
      <a type="" class="search_button btn btn-danger"><i class="icon-search icon-white"></i></a>
    </div>
  </div>
  <div class="faq">
    <ul>
      <li>
        <h3>How do I create an account?</h3>
        <p>We have chosen to use Facebook and BrowserID as the primary methods for creating accounts.</p>
      </li>
      <li>
        <h3>How do I create a study?</h3>
        <p>Unlock the ability to create a study by voting 2,000 times. We realize this is a large number of votes to contribute, however, in order to create your own study you will need to provide many more than 2,000 votes. We made the decision, in an attempt to minimize abandoned studies, to require users to input some votes to our system before they are allowed to take from it.</p>
      </li>
      <li>
        <h3>How do I view the results of a study?</h3>
        <p>Blah</p>
      </li>
      <li>
        <h3>Can I download the Place Pulse dataset?</h3>
        <p>Blah</p>
      </li>
      <li>
        <h3>Have you considered referencing your data to crime or housing prices?</h3>
        <p>Yes.</p>
      </li>
      <li>
        <h3>Why are no pictures loading for the area I have selected?</h3>
        <p>Street View isn't available everywhere.</p>
      </li>
      <li>
        <h3>Why do I see a speedometer sign instead of a streeview image?</h3>
        <p>You love us too much. Google has limited your account. Come see us again tomorrow.</p>
      </li>
      <li>
        <h3>Where can I read more about Place Pulse?</h3>
        <p>Jokes about how to use Google aside, here's a condensed list of popular press articles covering Place Pulse:
          <ol>
          <li><a href="http://www.fastcodesign.com/1664885/mits-place-pulse-a-hot-or-not-for-cities-to-fix-broken-blocks">Fast Company Design</a></li>
<li><a href="http://gizmodo.com/5831668/why-do-we-judge-some-areas-as-being-safer-than-others">Gizmodo</a></li>
<li><a href="http://www.smartplanet.com/blog/cities/mit-scientifically-defines-8216curb-appeal-using-google-street-view/716">ZDNet's Smart Planet</a></li>
<li><a href="http://www.psfk.com/2011/09/place-pulse-brings-a-collaborative-image-to-the-city.html">PSFK</a></li>
<li><a href="http://creativity-online.com/work/mit-media-lab-place-pulse/24156">Creativity</a></li>
<li><a href="http://joonbug.com/national/cool-shit/The-Place-Pulse-Project/mzgVdy2CNoC">Joonbug</a></li>
<li><a href="http://derstandard.at/1315005667161/Die-Stadt-von-morgen-Mit-dem-Taxi-vom-Datenberg-in-die-Stadt">Der Standard</a></li>
<li><a href="http://www.rtve.es/noticias/20110902/ciudades-vistas-sabiduria-multitudes-internet/458833.shtml">RTVE.es</a></li></ol>
  </p>
      </li>
    </ul>
    
    <h3 class="no-results hidden well">No results matching your search.</h3>
    <br /><br /><br />

  </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}