<footer class="row">
		<div id="footer-extra">
			<div class="container">
				<div class="row">
					<div class="span4">
						&copy; 2013 <a href="http://macroconnections.media.mit.edu">Macro Connections</a> | <a href="http://media.mit.edu">MIT Media Lab</a>
					</div>
					<div class="span4 centered">
						<a href="/login">Admin Login</a>
					</div>
					<div class="span4 right">
						<i class="icon-envelope"></i> &nbsp;
						<a href="mailto:varounny@media.mit.edu">Comments / Questions? Email us!</a>
					</div>
				</div> <!-- end .row -->
			</div> <!-- end .container -->
		</div>
	</footer>