<footer class="row">
		<div class="container" id="footer-main-container">
			<div class="row">
				<div class="span2">
					<h3>More links</h3>
					<ul>
						<li><a href="/about" title="About">About</a></li>
						<li><a href="/study/create" title="Create a Study">Create a Study</a></li>
						<li><a href="/results" title="Results">Results</a></li>
					</ul>
				</div>
				<div class="span2">
					<br /><br />
					<ul>
						<li><a href="/data" title="Data">Data</a></li>
						<li><a href="/faq" title="FAQ">FAQ</a></li>
						<li><a href="/contact" title="Contact">Contact</a></li>
					</ul>
				</div>
				<div class="span4">
					<h3>How to Cite Us</h3>
					
					<p><blockquote>Salesses, Schechtner and Hidalgo. Inequality is Not Invisible: Urban Perception and its Association with Violent Crime. (2012) Forthcoming.</blockquote></p>
					<p>We are an <a href="https://github.com/philsalesses/Place-Pulse">open source project</a>.</p>
				</div>
				<div class="span4">
					<h3>Media and Press</h3>
					<p>Materials on this website are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
					<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p>
					<p>Media requests should be directed to <a href="mailto:pulse@media.mit.edu">pulse@media.mit.edu</a></p>
				</div>
				
			</div> <!-- /row -->		
		</div> <!-- /container -->

		<div id="footer-extra">
			<div class="container">
				<div class="row">
					<div class="span4">
						&copy; 2012 <a href="http://macroconnections.media.mit.edu">Macro Connections</a> | <a href="http://media.mit.edu">MIT Media Lab</a>
					</div>
					<div class="span4">
						<p>&nbsp;</p>
					</div>
					<div class="span4">
						<i class="icon-envelope"></i> &nbsp; 
						<a href="mailto:pulse@media.mit.edu">pulse@media.mit.edu</a>
					</div>
				</div> <!-- end .row -->		
			</div> <!-- end .container -->		
		</div>
	</footer>