{% extends "sub.html" %}

{% block footer %}
	<script src="https://browserid.org/include.js" type="text/javascript"></script>
	<script>
		function doBrowserID() {
			navigator.id.getVerifiedEmail(function(assertion) {
			    if (assertion) {
			        // This code will be invoked once the user has successfully
			        // selected an email address they control to sign in with.
					$.ajax({
						type: 'POST',
						url: '{{ browserid_login_link }}',
						data: {
							assertion: assertion
						},
						success: function(e) {
							// Login success!
							window.location = e.next;
						}
					});
		
			    } else {
			        // something went wrong!  the user isn't logged in.
			    }
			});
	}
	
	function init() {
		$('#browserIDLoginButton').click(doBrowserID);
	}
	
	$(document).ready(init);
	</script>	
{% endblock %}

{% block body %}  
	<p>
		Click the below button to log in with your Facebook account:
			<div class="fb-login-button" data-scope="email" data-redirect-uri="http://localhost:8000/finished">
				<a href="{{ fb_login_link }}">
					<img src="/static/images/fbconnect.png"/>
				</a>
			</div>
	</p>
	
	<p>
		Or log in with just an e-mail address via <a href="http://www.browserid.org">BrowserID</a>.
		<div>
			<a href="#" id="browserIDLoginButton">
				<img src="/static/images/browserid.png"/>
			</a>
		</div>
	</p>
{% endblock %}