{% extends "base.html" %}

{% block header %}
{{ super() }}
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% set active_page = "index" %}
    {{ super() }}
{% endblock %}

{% block body %}
	{% include "vote_widget.html" %}
{% endblock %}

{% block footer %}
  {{ super() }}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
var study_id = "{{ study_id }}";
$(document).ready(function() {
  
  // On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }
  loadScript();
});
</script>
<script src="/static/js/main.js"></script>
{% endblock %}