{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>

{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
    {% set active_page = 'home' %}
    {{ super() }}
{% endblock %}

{% block body %}
{% include 'widgets/vote_widget.html' %}
<div class="landing_stats">
<div class="row" style="margin: 0 auto 0 auto; width: 960px;">
  <div class="span8" style="width:100%; margin-left: 0px;">
    <h1 class="lead centered" style="margin-bottom: 0px; padding-top:18px;">
      For the above question, current winners &amp; losers across 56 global cities:
    </h1>
  </div>
</div>

<hr/>

<div class="row" style="margin: 0 auto 0 auto; width: 960px;">
  <div class="ranker floatleft">
    <div class="rankrow">
      <div class="floatleft title">RANK</div>
      <div class="floatleft name title">CITY</div>
      <div class="floatleft score title">CLICKS</div>
      <div class="floatleft trend title">TREND</div>
    </div>
    <div class="rankrow">
      <div class="ranknum floatleft">1</div>
      <div id="1_name" class="floatleft name cell"></div>
      <div id="1_score" class="floatleft score cell"></div>
      <div id="1_trend" class="floatleft trend cell"></div>
    </div>
    <div class="rankrow">
      <div class="ranknum floatleft">2</div>
      <div id="2_name" class="floatleft name cell"></div>
      <div id="2_score" class="floatleft score cell"></div>
      <div id="2_trend" class="floatleft trend cell"></div>
    </div>
    <div class="rankrow">
      <div class="ranknum floatleft">3</div>
      <div id="3_name" class="floatleft name cell"></div>
      <div id="3_score" class="floatleft score cell"></div>
      <div id="3_trend" class="floatleft trend cell"></div>
    </div>
  </div>
  <div class="ranker floatleft">
    <div class="rankrow">
      <div class=" floatleft title">RANK</div>
      <div class="floatleft name title">CITY</div>
      <div class="floatleft score title">CLICKS</div>
      <div class="floatleft trend title">TREND</div>
    </div>
    <div class="rankrow">
      <div class="ranknum floatleft">54</div>
      <div id="4_name" class="floatleft name cell"></div>
      <div id="4_score" class="floatleft score cell"></div>
      <div id="4_trend" class="floatleft trend cell"></div>
    </div>
    <div class="rankrow">
      <div class="ranknum floatleft">55</div>
      <div id="5_name" class="floatleft name cell"></div>
      <div id="5_score" class="floatleft score cell"></div>
      <div id="5_trend" class="floatleft trend cell"></div>
    </div>
    <div class="rankrow">
      <div class="ranknum floatleft">56</div>
      <div id="6_name" class="floatleft name cell"></div>
      <div id="6_score" class="floatleft score cell"></div>
      <div id="6_trend" class="floatleft trend cell"></div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/libs/imagesloaded.pkgd.min.js"> </script>
<script src="/static/js/libs/jquery.sparkline.min.js"> </script>

<script> var study_id = "{{ study_id }}"; </script>
<script type="text/javascript">
  var linecol = '#191919';
  var fillcol_hi = '#aaff56';
  var fillcol_lo = '#ff5656'
  var sp_height = 20;
  var max = 0;
  var min = 0;

  $.ajax({
      url: '/study/'+study_id+'/getcityrank' ,
      type: 'GET',
      success: function(data) {
        var topbot = [];
        max = data[0].trueskill.score;
        min = data[55].trueskill.score;
        //taking top 3 and bottom 3 ranked cities
        topbot.push(data[0]);
        topbot.push(data[1]);
        topbot.push(data[2]);
        topbot.push(data[53]);
        topbot.push(data[54]);
        topbot.push(data[55]);

        for(var i=1; i<=6; i++) {
          var mus_length = topbot[i-1].trueskill.mus.length;
          //if mus array is very large, use only most recent 500 values for scores & sparklines
          /*if (mus_length > 500) {
            topbot[i-1].trueskill.mus = topbot[i-1].trueskill.mus.slice(mus_length-500);
            mus_length = topbot[i-1].trueskill.mus.length;
          }*/
          for(var j=0;j<mus_length;j++) {
            topbot[i-1].trueskill.mus[j] = Math.round(norm(topbot[i-1].trueskill.mus[j])*100)/100;
          }
          //rendering each row of the ranking table with sparklines
          $("#"+i+"_trend").sparkline(topbot[i-1].trueskill.mus, {
            type: 'line',
            width: '100',
            height: sp_height,
            lineColor: linecol,
            fillColor: (i<4) ? fillcol_hi : fillcol_lo});
          $("#"+i+"_name").html(topbot[i-1].place_name);
          //$("#"+i+"_score").html(Math.round(norm(topbot[i-1].trueskill.score)*100)/100);
          $("#"+i+"_score").html(topbot[i-1].num_votes);
        }
      }
  });

  function norm(s) {
    return (s-min)/(max-min);
  }
</script>

<script src="/static/js/main.js"></script>
{% endblock %}