{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/sub.css"/>
<style>
.draggableImage img {
	cursor:move;
}

#matchTo .draggableImage {
	position:absolute;
	left:0;
	top:0;
	opacity:0.8;
}

#matchFrom {
	padding:15px;
	width:550px;
	padding-top:15px;
}

#matchTo {
	text-align:center;
	padding:10px;
	margin-left:30px;
	width:550px;
}

#matchTo .dragPlace {
	width:235px;
	height:153px;
	border:2px dashed #cccccc;
	position:relative;
}


#matchTo .placeName {
	font-size:24pt;
	color:#222222;
	top:58px;
	position:relative;
}
.dragIcon {
	width:107px;
/*	position:absolute;*/
	top:50%;
	margin-left:75px;
	margin-right:75px;
}
.dropZoneHover {
	border:2px dashed #00ff00 !important;
}
.explanationText {
	text-align:left;
}
.resetButton {
	cursor:pointer;
}
</style>

{% endblock %}

{% block header %}
{{ super() }}
<a href="https://github.com/philsalesses"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 99;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}

{% block nav %}
    {% set active_page = 'home' %}
    {{ super() }}
{% endblock %}

{% block body %}
 <div class="hero-unit">
    <div class="ac">
      <h1>Matching</h1><br />
      <p id="info-alert">Can you match the city pictures to their names?</p>
      <hr />
    </div>
 </div>

<div id="matching">
  <div class="row">
	<div class="span12" id="winStatus">
</div>
<div class="row" align="center">
	<div class="span5" align="left">
	   <ul id="matchFrom" class="thumbnails"></ul>
	</div>
	<div class="span2" align="center">
		<img src="/static/images/drag.png" class="dragIcon"/>
	</div>
	<div class="span5" align="right">
	   <ul id="matchTo" class="thumbnails"></ul>
	   <div class="resetButtonContainer">
	   		<a class="btn-large btn-info resetButton">Reset</a>
		</div>
	</div>
</div>
  </div><!--/row-->
  </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
<script src="/static/js/lib/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/static/js/matching.js"></script>
{% endblock %}