{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block nav %}
    {% set active_page = 'about' -%}
    {{ super() }}
{% endblock %}

{% block body %}

  <div class="hero-unit">
    <div class="ac">
      <h1>Exhibitions</h1>
    </div>
  </div>

  <div id="exhibitions">
    <hr />

    <div class="row">
      <div class="span8">
        <h3>The Venice Biennale - Venice, Italy (2012)</h3>
        <p>
          U.S. representation at this global event ensures that the excellence, vitality, diversity, and innovation of architecture in the United States are effectively showcased abroad, and provides an opportunity to engage foreign audiences to increase mutual understanding. 
        </p>
        <p>
          The U.S. Pavilion at the 13th International Architecture Exhibition - la Biennale di Venezia, organized by the Institute for Urban Design on behalf of the U.S. Department of State’s Bureau of Educational and Cultural Affairs, was devoted to the theme <i>Spontaneous Interventions: Design Actions for the Common Good</i>. The exhibit featured 124 urban interventions initiated by architects, designers, planners, artists and everyday citizens that brought positive change to their neighborhoods and cities. The selection was narrowed down after a search process that included an open call for projects realized in U.S. cities in recent years, which yielded over 450 submissions.
        </p>
      </div>
      <div class="span4">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="http://image.shutterstock.com/display_pic_with_logo/562921/99568811/stock-photo-mouse-connections-99568811.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <div class="row">

      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="http://image.shutterstock.com/display_pic_with_logo/183487/183487,1306438770,2/stock-vector-social-network-background-with-media-icons-78037456.jpg" width="200" />
        </p>
      </div>        
      <div class="span9">
        <h3>TEDxCambridge - Cambridge, MA (2011)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>

    </div>

    <hr />

    <div class="row">
      <div class="span8">
        <h3>TEDxMidAtlantic - Washington, D.C. (2011)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>
      <div class="span4">
        <p>
          <img alt="" rel="tooltip" title="Some title" class="thumbnail fr" src="http://image.shutterstock.com/display_pic_with_logo/368671/368671,1296679547,7/stock-photo-background-image-of-d-70345660.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />
    <div class="row">

      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="http://image.shutterstock.com/display_pic_with_logo/183487/183487,1306438770,2/stock-vector-social-network-background-with-media-icons-78037456.jpg" width="200" />
        </p>
      </div>        
      <div class="span9">
        <h3>Ars Electronica - Linz, Austria (2011)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>

    </div>
    <div class="hero-unit">
    <div class="ac">
      <h1>Press</h1>
    </div>
  </div>

  <div id="press">
    <hr />

    <div class="row">
      <div class="span8">
        <h3>The Guardian (2011)</h3>
        <p>
          U.S. representation at this global event ensures that the excellence, vitality, diversity, and innovation of architecture in the United States are effectively showcased abroad, and provides an opportunity to engage foreign audiences to increase mutual understanding. 
        </p>
        <p>
          The U.S. Pavilion at the 13th International Architecture Exhibition - la Biennale di Venezia, organized by the Institute for Urban Design on behalf of the U.S. Department of State’s Bureau of Educational and Cultural Affairs, was devoted to the theme <i>Spontaneous Interventions: Design Actions for the Common Good</i>. The exhibit featured 124 urban interventions initiated by architects, designers, planners, artists and everyday citizens that brought positive change to their neighborhoods and cities. The selection was narrowed down after a search process that included an open call for projects realized in U.S. cities in recent years, which yielded over 450 submissions.
        </p>
      </div>
      <div class="span4">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="http://image.shutterstock.com/display_pic_with_logo/562921/99568811/stock-photo-mouse-connections-99568811.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <div class="row">

      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="http://image.shutterstock.com/display_pic_with_logo/183487/183487,1306438770,2/stock-vector-social-network-background-with-media-icons-78037456.jpg" width="200" />
        </p>
      </div>        
      <div class="span9">
        <h3>Fast Company Design (2011)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>

    </div>

    <hr />
    </div>
    <div class="row">
      <div class="span8">
        <h3>Gizmodo (2011)</h3>
        <p>
          U.S. representation at this global event ensures that the excellence, vitality, diversity, and innovation of architecture in the United States are effectively showcased abroad, and provides an opportunity to engage foreign audiences to increase mutual understanding. 
        </p>
        <p>
          The U.S. Pavilion at the 13th International Architecture Exhibition - la Biennale di Venezia, organized by the Institute for Urban Design on behalf of the U.S. Department of State’s Bureau of Educational and Cultural Affairs, was devoted to the theme <i>Spontaneous Interventions: Design Actions for the Common Good</i>. The exhibit featured 124 urban interventions initiated by architects, designers, planners, artists and everyday citizens that brought positive change to their neighborhoods and cities. The selection was narrowed down after a search process that included an open call for projects realized in U.S. cities in recent years, which yielded over 450 submissions.
        </p>
      </div>
      <div class="span4">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="http://image.shutterstock.com/display_pic_with_logo/562921/99568811/stock-photo-mouse-connections-99568811.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <div class="row">

      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="http://image.shutterstock.com/display_pic_with_logo/183487/183487,1306438770,2/stock-vector-social-network-background-with-media-icons-78037456.jpg" width="200" />
        </p>
      </div>        
      <div class="span9">
        <h3>ZDNet - Smart Planet (2011)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>

    </div>

    <hr />
    </div>
    <div class="row">
      <div class="span8">
        <h3>Der Standard (2011)</h3>
        <p>
          U.S. representation at this global event ensures that the excellence, vitality, diversity, and innovation of architecture in the United States are effectively showcased abroad, and provides an opportunity to engage foreign audiences to increase mutual understanding. 
        </p>
        <p>
          The U.S. Pavilion at the 13th International Architecture Exhibition - la Biennale di Venezia, organized by the Institute for Urban Design on behalf of the U.S. Department of State’s Bureau of Educational and Cultural Affairs, was devoted to the theme <i>Spontaneous Interventions: Design Actions for the Common Good</i>. The exhibit featured 124 urban interventions initiated by architects, designers, planners, artists and everyday citizens that brought positive change to their neighborhoods and cities. The selection was narrowed down after a search process that included an open call for projects realized in U.S. cities in recent years, which yielded over 450 submissions.
        </p>
      </div>
      <div class="span4">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="http://image.shutterstock.com/display_pic_with_logo/562921/99568811/stock-photo-mouse-connections-99568811.jpg" width="240" />
        </p>
      </div>
    </div>

    <hr />

    <div class="row">

      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="http://image.shutterstock.com/display_pic_with_logo/183487/183487,1306438770,2/stock-vector-social-network-background-with-media-icons-78037456.jpg" width="200" />
        </p>
      </div>        
      <div class="span9">
        <h3>STVE.es (2011)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>

    </div>

<div class="hero-unit">
    <div class="ac">
      <h1>Journals</h1>
    </div>
  </div>

  <div id="journals">
    <hr />

    <div class="row">
      <div class="span3">
        <p>
          <img rel="tooltip" title="Some title" alt="" class="thumbnail" src="http://image.shutterstock.com/display_pic_with_logo/183487/183487,1306438770,2/stock-vector-social-network-background-with-media-icons-78037456.jpg" width="200" />
        </p>
      </div>  
      <div class="span8">
        <h3>Science Magazine (2012)</h3>
        <p>
          FOSD arose out of layer-based designs and levels of abstraction in network protocols and extensible database systems in the late-1980s [1]. 
        </p>
        <p>
          A program was a stack of layers. Each layer added functionality to previously composed layers and different compositions of layers produced different programs. Not surprisingly, there was a need for a compact language to express such designs. Elementary algebra fit the bill: each layer was function (program transformation) that added new code to an existing program to produce a new program, and a program's design was modeled by an expression, i.e., a composition of transformations (layers). The figure below illustrates the stacking of layers h, j, and i (where h is on the bottom and i is on the top).
        </p>
      </div>
    </div>
    </div>

  </div>

  </div>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}