{% extends "base.html" %}

{% block header %}
{{ super() }}
<link href="/static/css/sub.css" rel="stylesheet">
<link href="/static/css/study_create.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% set active_page = "create" %}
    {{ super() }}
{% endblock %}

{% block body %}
<header class="jumbotron subhead">
    <h1 class="h1extra">Create a Study</h1>
</header>
  <div class="row">
    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Steps to Creating a Study</li>
          <li id="info"><a href='#'><i class="icon-book"></i> Study Information</a></li>
          <li id="define"><a href='#'><i class="icon-plane"></i> Define Places</a></li>
          <li id="populate"><a href='#'><i class="icon-map-marker"></i> Populate Locations</a></li>
          <li id="curate"><a href='#'><i class="icon-picture"></i> Curate Images</a></li>
          <li id="start" class="active"><a href='#'><i class="icon-ok icon-white"></i> Start Collecting Votes</a></li>
        </ul>
      </div><!--/.well -->
      <div class="alert alert-info" id="info-alert">
    	<strong>Step 5 of 5:</strong>
    	<br />Your study has started. Send out a link to your study and start collecting votes.
    	</div>
    	
    </div><!--/span-->
    <div class="span8">
      <h2 style="margin-bottom:30px;">Congratulations...</h2>
      <p>This link will directly access your study. You can send it to friends so they can participate.</p>
      <table class="table table-bordered"><tr><td>http://pulse.media.mit.edu/study/view/{{ study_id }}</td></tr>
        <tr><td style="padding-top:18px;"><!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9337672f56a226"></script>
        <!-- AddThis Button END --></td></tr></table>
        
    </div>
  </div><!--/row-->
{% endblock %}

{% block footer %}
{{ super() }}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/study_curate.js"></script>
<script src="/static/js/lib/waypoints.js"></script>
<script>
$(document).ready(function() {
	// On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }
	loadScript();
  	$.waypoints.settings.scrollThrottle = 30;
    	$('#leftpin').waypoint(function(event, direction) {
         if (direction === 'down') {
           $('#leftpin').css("top","0");
           $('#leftpin').css("position","fixed");
         }
         else {
            $('#leftpin').css("position","relative");
         }
      });
    	$('#leftpin').bind('waypoint.reached', function(event, direction) {
      });
});
function init() {
	initialize("{{ study_id }}","{{ polygon }}");
}
</script>
{% endblock %}