{% extends "base.html" %}

{% block header %}
{{ super() }}
<link href="/static/css/sub.css" rel="stylesheet">
<link href="/static/css/study_create.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% set active_page = "create" %}
    {% include 'nav.html' %}
{% endblock %}

{% block body %}
<header class="jumbotron subhead">
    <h1 class="h1extra">Create a Study</h1>
</header>
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Steps to Creating a Study</li>
          <li id="info" class="active"><a href='#'><i class="icon-book icon-white"></i> Study Information</a></li>
          <li id="define"><a href='#'><i class="icon-plane"></i> Select Places</a></li>
          <li id="populate"><a href='#'><i class="icon-map-marker"></i> Populate Locations</a></li>
          <li id="curate"><a href='#'><i class="icon-picture"></i> Curate Images</a></li>
          <li id="start"><a href='#'><i class="icon-ok"></i> Start Collecting Votes</a></li>
        </ul>
      </div><!--/.well -->
      <div class="alert alert-info" id="info-alert">
    	<strong>Step 1 of 5:</strong>
    	<br />To get started, please share some basic information with us.
    	</div>
    </div><!--/span-->
    <div class="span9">
          	{% include 'widgets/study_information.html' %}
            <div class="form-horizontal" id="selectPlaces">
                <div class="tabbable">
                  <ul class="nav nav-tabs">
                    <h2 style="margin-bottom:30px;">Where do you want to source your images?</h2>
                    <li class="active"><a href="#1" data-toggle="tab">Google Street View</a></li>
                    <li><a href="#2" data-toggle="tab">Upload Your Own</a></li>
                    <li><a href="#3" data-toggle="tab">From Existing Study</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="1">
                      {% include 'widgets/define_place.html' %}
                    </div>
                    <div class="tab-pane" id="2">
                      <h3>Feature Coming Soon...</h3>
                    </div>
                    <div class="tab-pane" id="3">
                      <h3>Feature Coming Soon...</h3>
                    </div>
                  </div>
                </div>
            </div>
            
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}

{% block footer %}
{{ super() }}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script src="/static/js/bootstrap-typeahead.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/study_create.js"> </script>
{% endblock %}
