{% extends "base.html" %}
{% set active_page = "create" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/sub.css" />
<link rel="stylesheet" href="/static/css/study_create.css" />
{% endblock %}

{% block body %}

  <div class="hero-unit">
    <div class="ac">
      <h1>Create a Study</h1><br />
      <p id="info-alert">To get started, please share some basic information with us.</p>
      <hr />
    </div>
  </div>

<div id="explore">
    <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Steps to Creating a Study</li>
          <li id="info" class="active"><a href='#'><i class="icon-book icon-white"></i> Study Information</a></li>
          <li id="define"><a href='#'><i class="icon-plane"></i> Select Places</a></li>
          <li id="populate"><a href='#'><i class="icon-map-marker"></i> Populate Locations</a></li>
          <li id="curate"><a href='#'><i class="icon-picture"></i> Curate Images</a></li>
          <li id="start"><a href='#'><i class="icon-ok"></i> Start Collecting Votes</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
            {% include 'widgets/study_information.html' %}
            <div class="form-horizontal" id="selectPlaces">
            {% include 'widgets/define_place.html' %}
            </div>
            
    </div><!--/span-->
  </div><!--/row-->
  </div>



</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/study_create.js"> </script>
{% endblock %}