{% extends "base.html" %}

{% block header %}
{{ super() }}
<link href="/static/css/sub.css" rel="stylesheet">
<link href="/static/css/study_create.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% set active_page = "create" %}
    {{ super() }}
{% endblock %}

{% block body %}
<header class="jumbotron subhead">
    <h1 class="h1extra">Create a Study</h1>
</header>
  <div class="row">
    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Steps to Creating a Study</li>
          <li id="info"><a href='#'><i class="icon-book"></i> Study Information</a></li>
          <li id="define"><a href='#'><i class="icon-plane"></i> Define Places</a></li>
          <li id="populate"><a href='#'><i class="icon-map-marker"></i> Populate Locations</a></li>
          <li id="curate" class="active"><a href='#'><i class="icon-picture icon-white"></i> Curate Images</a></li>
          <li id="start"><a href='#'><i class="icon-ok"></i> Start Collecting Votes</a></li>
        </ul>
      </div><!--/.well -->
      <div class="alert alert-info" id="info-alert">
    	<strong>Step 4 of 5:</strong>
    	<br />Verify that all images are acceptable for inclusion in your study. To edit or remove an image, just click on it.
    	</div>
    	<div id="leftpin" class="span4" style="padding-top:20px; margin-left:0px;">
      	<div class="well" align="center">
         <form id="approve_and_begin" action="/study/start/{{ study_id }}" style="margin:0;">
          <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" onclick="$('#approve_and_begin').submit();">Approve Images and Begin Study</button>
        </form>
        </div>
      	<div class="well">
      	    <div id="map4"></div>
      	</div>
      	</div>
    </div><!--/span-->
    <div class="span8">
      <div id="edit_street_view" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Edit Image</h3>
        </div>
        <div class="modal-body" align="center">
          <div id="edit_pano" style="z-index:1;"></div>
          <p>To edit, rotate to your desired heading by clicking and dragging.</p>
        </div>
        <div class="modal-footer">
          <a id="save_changes" class="btn btn-primary cursor" onclick="save_changes(gId,gLat,gLng,gHeading,gPitch);">Save Changes</a>
          <a id="delete_image" class="btn cursor" onclick="delete_image(gId);">Delete Image</a>
          <a class="btn cursor" data-dismiss="modal" id="close_modal">Close</a>
        </div>
      </div>
      <ul class="thumbnails">
      {%for location in locations:%}
      <li class="span2" id="li{{location._id}}">
        <a id="{{location._id}}" class="thumbnail cursor" data-toggle="modal" onMouseover="center_map({{location.loc[0]}},{{location.loc[1]}})" onclick="editsv('{{location._id}}',{{location.loc[0]}},{{location.loc[1]}},{{location.heading}},{{location.pitch}})">
          <img id="img{{location._id}}" src="http://maps.googleapis.com/maps/api/streetview?size=160x120&location={{location.loc[0]}},%20{{location.loc[1]}}&fov=90&heading={{location.heading}}&pitch={{location.pitch}}&sensor=false" />
        </a>
      </li>
      {%endfor%}
      </ul>
    </div>
  </div><!--/row-->
{% endblock %}

{% block footer %}
{{ super() }}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/study_curate.js"></script>
<script src="/static/js/lib/waypoints.js"></script>
<script>
$(document).ready(function() {
	// On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }
	loadScript();
  	$.waypoints.settings.scrollThrottle = 30;
    	$('#leftpin').waypoint(function(event, direction) {
         if (direction === 'down') {
           $('#leftpin').css("top","0");
           $('#leftpin').css("position","fixed");
         }
         else {
            $('#leftpin').css("position","relative");
         }
      });
    	$('#leftpin').bind('waypoint.reached', function(event, direction) {
      });
});
function init() {
	initialize("{{ place_id }}","{{ polygon }}");
}
</script>
{% endblock %}