{% extends "base.html" %}
{% set active_page = "create" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/sub.css" />
<link rel="stylesheet" href="/static/css/study_create.css" />
{% endblock %}

{% block body %}

  <div class="hero-unit">
    <div class="ac">
      <h1>Create a Study</h1><br />
      <p id="info-alert">Your study has started. Send out a link to your study and start collecting votes.</p>
      <hr />
    </div>
  </div>

<div id="curate">
  <div class="row">
    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Steps to Creating a Study</li>
          <li id="info"><a href='#'><i class="icon-book"></i> Study Information</a></li>
          <li id="define"><a href='#'><i class="icon-plane"></i> Define Places</a></li>
          <li id="populate"><a href='#'><i class="icon-map-marker"></i> Populate Locations</a></li>
          <li id="curate"><a href='#'><i class="icon-picture"></i> Curate Images</a></li>
          <li id="start" class="active"><a href='#'><i class="icon-ok icon-white"></i> Start Collecting Votes</a></li>
        </ul>
      </div><!--/.well -->
      
    </div><!--/span-->
    <div class="span8">
      <h2>Congratulations...</h2>
      <p>This link will directly access your study. You can send it to friends so they can participate.</p>
      <table class="table table-bordered"><tr><td>http://pulse.media.mit.edu/study/view/{{ study_id }}</td></tr>
        <tr><td style="padding-top:18px;"><!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9337672f56a226"></script>
        <!-- AddThis Button END --></td></tr></table>
        
    </div>
  </div><!--/row-->
  </div>



</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}