{% extends "sub.html" %}

{% block footer %}
<script src="/static/js/admin.js"></script>
<link href="/static/css/admin.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}
<br />
<h2>Admin Functions</h2>
<ol>
{%for vote in votes:%}
{%if vote.choice == 'left':%}
<li><strong><a href='/place/view/{{vote.left}}'>{{vote.left}}</a></strong> vs <a href='/place/view/{{vote.right}}'>{{vote.right}}</a></li>
{%elif vote.choice == 'right':%}
<li><a href='/place/view/{{vote.left}}'>{{vote.left}}</a> vs <strong><a href='/place/view/{{vote.right}}'>{{vote.right}}</a></strong></li>
{%endif%}
{%endfor%}
</ol>
{% endblock %}