{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/view_study.css"/>

{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
    {% set active_page = 'home' %}
    {{ super() }}
{% endblock %}

{% block body %}
{% include 'widgets/vote_widget.html' %}

    <div class="row">
      <div class="span8">
        <p>
          <b>Study Name:</b> {{study_name}}
        </p>
        <p>
          <b>Creator:</b> {{owner}}
        </p>
      </div>
      <div class="span4">
        <h3 class="ac">Votes Contributed</h3>
        <p class="ac">
          <span class="btn btn-large btn-primary" href="#" title=""><b>{{votes_contributed}}</b></span>
        </p>
      </div>
    </div>

    <hr />
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
var study_id = "{{ study_id }}";
var GAMIFICATION_STATUS = {{ Gamification.getUnlockStatus(userObj)|tojson|safe }};
$(document).ready(function() {
  
  // On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }

  loadScript();
});
</script>
{% endblock %}