{% extends "base.html" %}

{% block header %}
<!-- Le styles -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}


{% block body %}
	{% include "vote_widget.html" %}
{% endblock %}

{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/view_study.js"></script>
<script>
var study_id = "{{ study_id }}";
$(document).ready(function() {
	
	// On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }

	loadScript();
});
</script>

<link href="/static/css/view_study.css" type="text/css" rel="stylesheet">
{% endblock %}