{% extends "base.html" %}
{% set active_page = "vision" %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block body %}
<div id="explore">
    <div class="row">
      <div class="span8" style="width:80%; text-align:center; margin-left:100px; margin-bottom:20px;">
        <h1 class="lead" style="color:#EA4839; font-size:22px;">
          <i>Mapping urban perception among cities and continents</i>
        </h1>
      </div>

      <div class="span6">
        <div style="margin-bottom:30px;">
          <h2 style="color:#EA4839">What</h2>
          <p>Place Pulse quantitatively measures urban perception by crowdsourcing visual surveys to users around the globe.</p>
        </div>
        <div style="margin-bottom:40px;">
          <h2 style="color:#EA4839">Why</h2>
          <p>Cities are not just collections of demographics, but places that people experience. Urban environments are known to elicit strong evaluative responses [1], and there is evidence and theories [2] suggesting that these responses may affect criminal [3] and health [4-5] behaviors. Yet, we lack good quantitative data on the responses elicited by urban environments. Place Pulse is an effort to help collect quantitative data of urban perception to help advance these research efforts and open new avenues of research.</p>
        </div>
      </div>

      <div class="span6 project" style="margin-top:10px;">
        <iframe width="440" height="280" src="http://www.youtube.com/embed/QtVz0_fA5qE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="span6" style="width:100%;">
        <h2 style="color:#EA4839">References</h2>
        <p>[1] Nasar JL (1997) <i>The Evaluative Image of the City</i>. Sage Publications</p>
        <p>[2] G Wilson JQ, Kelling GL (1982) <i>Broken Windows</i>. Atlantic monthly, 249(3): 29-38</p>
        <p>[3] Keizer K, Lindenberg S, Steg L (2008) <i>The spreading of disorder</i>. Science, 322(5908): 1681-1685</p>
        <p>[4] Cohen D, Spear S, Scribner R, Kissinger P, Mason K, Wildgen J. (2000). <i>"Broken windows" and the risk of gonorrhea</i>. American Journal of Public Health, 90(2): 230</p>
        <p>[5] Ross CE, Mirowsky J (2001) <i>Neighborhood disadvantage, disorder, and health</i>. Journal of health and social behavior, 258-276</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block js %}
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/bootstrap.js"></script>
<script src="/static/js/libs/jquery.isotope.min.js"></script>
<script src="/static/js/libs/jquery.touchSwipe.js"></script>
<script src="/static/js/base_ui.js"></script>
<script src="/static/js/functions.min.js"></script>
{% endblock %}