PlacePulse/bin/
PlacePulse/include/
PlacePulse/lib/
PlacePulse/Stash/
PlacePulse/settings.json
bin/
include/
lib/
Stash/
.Python
*.pyc
PlacePulse/readline-6.2.2-py2.7-macosx-10.7-intel.egg/readline.so
PlacePulse/dump/
*.DS_Store
