 <div class="hero-unit">
    <div class="ac">
      <h1>Which place looks <b>{{ study_prompt }}</b> ?&nbsp;&nbsp;<a href='/another/{{ study_id }}'><image height="26" width="30" src="/static/img/question_refresh_icon.png" class="q_ref_icon" alt="another question" title="Get another question"/></a></h1>
    </div>
  </div>
<div class="row">
  <div class="votebox">
    <div class="loadingmsg centered">Fetching next pair..</div>
    <ul class="thumbnails" style="opacity:0.1; margin-left:0px;">
      <li class="span5 vote">
        <div id="pano_left" class="left thumbnail streetViewChoice"><a><img class="place"/></a></div>
        <div id="pano_left_buffer" class="buffer"><img class="place" /></div>
        <!--<image id="key_1" height="70" width="67" class="keys" src="/static/img/key_1.png" alt="Button 1" />-->
        <div class="clear"></div>
      </li>
    <li class="span13">
      <div class="choicebuttons">
        <a>
          <div id="left_arrow" class="choice_button">⬅</div>
        </a>
        <a>
          <div id="equal" class="choice_button">=</div>
        </a>
        <a>
          <div id="right_arrow" class="choice_button">⬅</div>
        </a>
      </div>
    </li>
      <li class="span5 vote">
        <div id="pano_right" class="right thumbnail streetViewChoice"><a><img class="place"/></a></div>
        <div id="pano_right_buffer" class="buffer"><img class="place" /></div>
        <!--<image id="key_2" height="70" width="67" class="keys" src="/static/img/key_2.png" alt="Button 2" />-->
        <div class="clear"></div>
      </li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
<hr style="margin-bottom:0px;"/>

