 <div class="hero-unit">
    <div class="ac">
      <h1>Which place looks {{ study_prompt }}?</h1>
    </div>
  </div>
<div class="row">
  <div class="span10 offset1" style="position:relative;">
    <h1 class="loadingmsg">Loading...</h1>
    <div class="equalbutton"><a href="#" onclick="onStreetViewChoice('equal');" style="font-size:18px;"><img src="/static/img/key_equals.png" /></a></div>
    <ul class="thumbnails" style="opacity:0.1;">
      <li class="span5 vote">
        <div id="pano_left" class="streetViewChoice left thumbnail"><a><img class="place" /></a></div>
        <div id="pano_left_buffer" class="buffer"><img class="place" /></div>
        <image id="key_1" height="70" width="67" class="keys" src="/static/img/key_1.png" alt="Button 1" />
        <div class="clear"></div>
      </li>
      <li class="span5 vote">
        <div id="pano_right" class="streetViewChoice right thumbnail"><a><img class="place" /></a></div>
        <div id="pano_right_buffer" class="buffer"><img class="place" /></div>
        <image id="key_2" height="70" width="67" class="keys" src="/static/img/key_2.png" alt="Button 2" />
        <div class="clear"></div>
      </li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
</div>
  <hr />