 <div class="hero-unit">
    <div class="ac">
      <h1>Which place looks more {{ study_prompt }}?</h1>
    </div>
  </div>
<div class="row">
  <div class="span10 offset1">
    <ul class="thumbnails">
      <li class="span5 vote">
        <div id="pano_left" class="streetViewChoice left thumbnail"><a onclick="onStreetViewChoice('left');"><img class="place" /></a></div>
        <div id="pano_left_buffer" class="buffer"><img class="place" /></div>
        <image id="key_1" height="70" width="67" class="keys" src="/static/img/key_1.png" alt="Button 1" />
        <div class="clear"></div>
      </li>
      <li class="span5 vote">
        <div id="pano_right" class="streetViewChoice right thumbnail"><a onclick="onStreetViewChoice('right');"><img class="place" /></a></div>
        <div id="pano_right_buffer" class="buffer"><img class="place" /></div>
        <image id="key_2" height="70" width="67" class="keys" src="/static/img/key_2.png" alt="Button 2" />
        <div class="clear"></div>
      </li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
<div class="row">
	<div class="span12" align="center">
		<div class="vote voteEquals" style="margin-top:-90px;">
			<a href="#" onclick="onStreetViewChoice('equal');" style="font-size:18px;"><img src="/static/img/key_equals.png" /></a>
		</div>
		<div id="voteSuccess" class="alert alert-success">
			<h2>You just unlocked a new study!</h2>
			<p>Click the link below to view it!</p>
			<div id="voteSuccessLink"></div>
		</div>
		<div class="voteProgress">
			<div class="progress progress-striped">
				<div class="bar">
				</div>
			</div>
			<div>
				Only <strong><span id="votesRemaining"></span></strong> votes until you unlock <span id="nextStudyToUnlock"></span> <em>(opens in new window)</em>
			</div>
		</div>
	</div>
</div>
  <hr />