@import "variables.less";
#map {
width: (7 * @gridColumnWidth) + (@gridGutterWidth * 6);
height: ((7 * @gridColumnWidth) + (@gridGutterWidth * 6)) / 4 * 3;
left: 18px;
top: @baseLineHeight/2;
}

#mapInterface {
  /* Hide at first. */
  display:none;
}
#mapInterfaceButtons {
margin-left: 158px;
margin-top: @baseLineHeight;
}