{% extends "sub.html" %}

{% block footer %}
<script src="/static/js/admin.js"></script>
<link href="/static/css/admin.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}
<br />
<h2>Admin Functions</h2>
<ol>
<strong>Studies</strong>
<li><a href='/admin/view/studies/'>View All Studies</a></li>
<li><a href='/admin/view/study/'>View Specific Study</a></li>
<strong>Places</strong>
<li><a href='/admin/view/places/'>View All Places</a></li>
<li><a href='/admin/view/places_by_city/'>View Places by City</a></li>
<li><a href='/admin/view/place/'>View Specific Place</a></li>
<strong>Votes</strong>
<li><a href='/admin/view/votes/'>View All Votes</a></li>
<li><a href='/admin/view/vote/'>View Specific Vote</a></li>
</ol>
{% endblock %}