{% extends "sub.html" %}

{% block footer %}
<script src="/static/js/create_study.js"></script>
<link href="/static/css/create_study.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}
<h2>Create a study</h2>
<div id="createStudyForm">
	<div>
		<div>
			What attribute would you like to study?
			<div>
				<input type="text" id="study_question" />
			</div>
		</div>
	</div>
	<div>
		<div>
			<div>
				Number of locations requested
			</div>
			<div>
				<select name="locations_requested" id="locations_requested">
					<option value="100">100</option>
					<option value="200">200</option>
					<option value="300">300</option>
					<option value="400">400</option>
					<option value="500">500</option>
				</select>
			</div>
		</div>
	</div>
	<div>
		<input type="submit" id="finishStudyForm" value="Next"/>
	</div>
</div>
<div id="mapInterface">
	<div>
		Click to draw points on a polygon.
		<div>
			<span class="mapInterfaceAction" id="removeLastPoint">Remove last point</span>
			<span class="mapInterfaceAction" id="clearCurrentSelection">Clear current selection</span>
		</div>
	</div>
	<div id="map">
	</div>
	<div>
		<input type="submit" id="submitPolygon" value="Next step"/>
	</div>
</div>
{% endblock %}