{% extends "base.html" %}

{% block footer %}
<script src="/static/js/main.js"></script>
<script>
var study_id = "{{ study_id }}";
$(document).ready(function() {
	
	// On page load, load the GMaps API. Once that's loaded, callback to init()
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=init";
      document.body.appendChild(script);
    }

	loadScript();
});
</script>

<link href="/static/css/main.css" type="text/css" rel="stylesheet">
{% endblock %}