<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Place Pulse | The Collaborative Image of the City</title>
	<meta name="description" content="Place Pulse is a website that allows anybody to quickly run an urban perception study and visualize the results in powerful ways." />
	<meta name="author" content="Phil Salesses | Macro Connections | The Media Lab | Massachusetts Institute of Technology" />
	<link rel="shortcut icon" href="/static/images/customize/favicon.ico" />
	<link rel="apple-touch-icon" href="/static/images/customize/apple/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/customize/apple/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/customize/apple/touch-icon-iphone4.png" />
	<link rel="stylesheet" href="/static/css/style_sub.css?v=2">
	{% block head %}
	{% endblock %}
</head>
<body>
<div id="container">
	<div id="content_top">
		<header>
			<a href="/" id="logo"><img src="/static/images/logo.png" alt="Place Pulse Logo" /></a>
		</header>
		{% block body %}
		{% endblock %}
		<div class="clear"></div>
		<footer id="footer">
			<section id="copyright">
				<p>&copy; 2011 <a href="http://macroconnections.media.mit.edu">Macro Connections</a> | <a href="http://media.mit.edu">Media Lab</a> | <a href="http://www.mit.edu">Massachusetts Institute of Technology</a></p>
				<p class="small">Page rendered in XXX seconds</p>				
			</section>
			<div id="credits"></div>
		</footer>
	</div>
</div>
	
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script>!window.jQuery && document.write(unescape('%3Cscript src="/js/lib/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
<script src="/static/js/lib/jquery-ui-1.8.9.custom.min.js"></script> 
<script src="/static/js/lib/script.js"></script>

{% block footer %}
{% endblock %}

<!--[if lt IE 7 ]>
<script src="js/libs/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg'); </script>
<![endif]--> 

<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'8f51752b-16bf-45d7-9f87-b2762c7acd5b'});</script>

<!-- Google Analytics --> 
<script>
  	var _gaq = [['_setAccount', 'UA-21313433-1'], ['_trackPageview']];
   	(function(d, t) {
	    var g = d.createElement(t),
	    s = d.getElementsByTagName(t)[0];
	   	g.async = true;
	    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g, s);
	 })(document, 'script');
</script>
</body>
</html>